.doc-brief__profession {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(149, 54, 64, 0.7);
    margin-bottom: 25px;
}